
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

h1{
    border-bottom: 1px solid black;
}

h3{
    margin: 10px 0 10px 5px;
}

input{
    margin-left: 10px;
}

input[type="submit"]{
    margin: 20px 0 0 20px;
}